
@{
    ViewBag.Title = "Cliente";
}

<h2>Cliente</h2>

<p class="lead">
    Olá, tudo bom? O site Emprego Esperto está aqui para
    encontrar a melhor solução em qualquer tipo de serviço para você!
</p>

<p>
    Como o site funciona? Você realiza um cadastro ou conecta sua conta do facebook ao site e cadastra quais tipos de profissionais está procurando, imediatamente o sistema vai encontrar os melhores profissionais já cadastrados para atender as suas necessidades!
 </p>   

